.root-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-imp {
    height: 11rem;
    width: 40%;
    perspective: 500px;
    overflow: visible;
}

/*ul item from carousel*/
.slider-container-imp {
    height: 100%;
    /* height: 100%;
    width: 100%; */
}

/*li item from ul list*/
.slide-imp {
    /* transform: scale(0.75); */
    text-align: center;
    height: 100%;
    /* justify-content: center;
    align-items: center;
    display: flex; */
}

.slide-inner {
    height: 100%;
    /* width: 100%; */
    /* height: 80%; */
    transform: scale(1) translateY(0);
    /* overflow: visible; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.react-multi-carousel-item {
    
}

.slide-img {
    width: 50%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
    /* width: 100px;
    height: 100px; */
}

.react-multi-carousel-dot-list {
    bottom: 0;
}