@import url("https://fonts.googleapis.com/css?family=Concert+One&display=swap");

.root-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.container-imp {
    height: 11rem;
    width: 40%;
    perspective: 500px;
    overflow: visible;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

/*ul item from carousel*/
.slider-container-imp {
    height: 100%;
    /* height: 100%;
    width: 100%; */
}

/*li item from ul list*/
.slide-imp {
    /* transform: scale(0.75); */
    text-align: center;
    height: 100%;
    /* justify-content: center;
    align-items: center;
    display: flex; */
}

.slide-inner {
    width: 100%;
    height: 50%;
    transform: translateY(0);
    /* overflow: visible; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slide-img {
    /* width: 50%; */
    /* height: auto; */
    width: auto;
    height: 40%;
    user-select: none;
    -webkit-user-drag: none;
    /* width: 100px;
    height: 100px; */
}

.react-multi-carousel-dot-list {
    bottom: -0.75rem;
}

/*
    Container Card 
*/

.container-card-imp {
    height: 20rem;
    width: 100%;
}

.slide-hide-info {
    opacity: 0;
}

.slide-card-top {
    font-family: Concert One;
    font-size: 1.5rem;
    color: white;
    user-select: none;
    opacity: 0;
    display: block;
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.slide-card-out {
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}


/*Skills areas*/

.react-multiple-carousel__arrow {
    top: 1rem;
    background: none;
}

.skill-area-root {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color: #927fbf;
    padding-bottom: 2rem;
}

/**Li */
.skill-area-item {
    margin: 0 0;
    display: block;
}

.skill-area-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0;
    padding: 0 0;
    
    /* border-radius: 20px; */
    min-width: 250px;
    flex:1;
}

.skill-area-container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-area-container > p {
    font-family: Concert One;
    font-size: 1.3em;
    color: white;
}

.skill-area-container > div > div {
    width: 5rem;
    height: 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.skill-area-container > div > div > .MuiLinearProgress-root {
    width: 75%;
}

.skill-area-container > div > div > img {
    max-width: 4rem;
    max-height: 4rem;
    width: auto;
    height: auto;
    display: block;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.skill-area-container > div > div > img:hover {
    transform: scale(1.1);
}

@media (min-width: 550px){
    /* .skill-area-container {
        width: calc(50% - 2.5rem);
    } */
}

@media (min-width: 1340px){
    .skill-area-container > div > img {
        max-width: 3.65rem;
        max-height: 3.65rem;
        margin: 0.6rem;
    }

    .skill-area-container > p {
        font-size: 1.4rem;
    }
}

@media (min-width: 1450px){
    .skill-area-container > div > img {
        max-width: 3.70rem;
        max-height: 3.70rem;
        margin: 0.4rem 0.6rem;
    }
}